@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  h1 {
    @apply text-6xl sm:text-7xl;
  }
  h2 {
    @apply text-5xl sm:text-6xl;
  }
  h3 {
    @apply text-4xl sm:text-5xl;
  }
  h4 {
    @apply text-3xl sm:text-4xl;
  }
  h5 {
    @apply text-2xl sm:text-3xl;
  }
  h6 {
    @apply text-xl sm:text-2xl;
  }
}

@layer components {
  .masonry {
    max-width: calc(25rem * 10);
    columns: 24rem auto;
    @apply mx-auto gap-4;
  }
}

@layer utilities {
  .column-span-all {
    column-span: all;
  }
}
